html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 2em;
  /* font-size: 0.875em; */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* <----NAVBAR----> */

header {
  background-color: #fff;
  border-bottom: solid 1px #000;
  text-align: center;
  position: fixed;
  width: 100%;
  padding-top: 1em;
}

img {
  width: 10em;
}

.logo {
  color: black;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

/* <----HAMBURGER----> */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #000;
  height: .15em;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* <----NAV DROPDOWN----> */

nav {
  position: absolute;
  text-align: left;
  padding-top: 1em;
  top: 100%;
  background: #fff;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}


nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* <----NAV ANIMATION----> */

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* <----PRODUCT DISPLAY----> */
.wrapper-main {
  padding: 0 1.5em;
}

.box-1 {
  grid-column: 1 / -1
}

.grid-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

div:nth-child(2) {
}

.grid-container {
  padding: 5rem 0 0;
}

.grid-container div {
  border: 1px solid #000;
}

div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* <----CONTENT----> */
.product-flex {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

h5 {
  line-height: 1.7em;
  font-weight: 400;
  margin-bottom: 0;
}

.content h3 {
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 15px;
  line-height: 2.2em;
  hyphens: none;
}

.block {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #224229;
  color: #fff;
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}


.description {
  padding-top: 2.5em;
}

/* .content h3 {
  margin: 0;
  font-weight: 400;
} */

p {
/*   padding-top: 2em; */
  font-size: 15px;
  line-height: 2.2em;
  hyphens: none;
}

.block {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #224229;
  color: #fff;
  padding: 14px 28px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
}


.description {
  padding-top: 2.5em;
}

.content-h3 {
  padding-top: 1em;
  margin: 0;
  font-weight: 400;
}

dt {
  /* font-size: 0.875em; */
  font-size: 15px;
  font-weight: 400;
}

dd {
  /* font-size: 0.875em; */
  font-size: 15px;
  margin: 0;
  padding-bottom: 1em;
}


/* <----BROWSE GRID----> */

.browse {
  padding-top: 1em;
}

.four-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1em 0 1em;

}

article {
  display: flex;
  flex-direction: column;
  /* border: solid 1px #000; */
}

article > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  padding: 1em 0 1em;
}

/* .plant-price {
  display: flex;
  gap: 1rem;
} */

.four-grid p {
  margin: 0 0;
}

.four-grid h4 {
  margin: 0 0;
  font-weight: 400;
}

.four-grid h5 {
  margin: 0;
  font-weight: 400;
}

/* <----REVIEWS----> */

.review-grid {
  display: grid;
  padding: 1em 0 1em;

/* <----FOOTER----> */

/* .wrapper-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
  font-size: .75em;
  background-color: #efefef;
  text-align: center;
} */


/* Default styling for all screens ends here */


/* Add media query for tablet */

@media only screen and (min-width: 38em) {

/* <----MAY NOT NEED----> */

}


/* Add media query for desktop */

/* @media screen and (min-width: 60em) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(38em, 3fr) 1fr;
  }

  .logo {
    color: white;
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    transform: scale(0, 1);
    transform-origin: center;
    transition: transform ease-in-out 250ms;
  }
} */


/* <----REVIEWS----> */

/* .review-grid {
  display: flex; */
